---
import Layout from '../layouts/Layout.astro';
import UploaderForm from '@/components/react/UploaderForm';
import '@/styles/globals.css';
---

<Layout title="Welcome to Astro.">
	<main class="h-screen flex items-center justify-center w-full">
		<UploaderForm client:load />
		<div id="gaussian-splat-container">HIII</div>
	</main>
</Layout>

<script>
	import initGaussianSplats from "@/utils/initGaussianSplats"; 
	initGaussianSplats("gaussian-splat-container", '../../public/models/splat.ply');
</script>